body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #707070;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Alinha os itens da lista à direita */
    
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
  
}

.game-list img {
    width: 200px;
    height:300px;
    
}

.game-list a {
    text-decoration: none;
    display: block;
    text-align: center;
    
}
#logo{
    width: 150px; /* Tamanho da logo */
    height: auto;
    margin-right: 20px; /* Espaçamento entre a logo e os itens da lista */
  
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Alinha os itens da navbar em coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .game-list {
        flex-direction: column;
    }

    .game-list img {
        width: 100%; /* Ajusta a largura das imagens em telas menores */
        height: auto;
    }
}